In [ ]:
%cd "/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L20"

/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L20

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%pwd

'/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L20'

In [ ]:
%ls

L20_LCP.ipynb  us-cities-top-1k.csv

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("us-cities-top-1k.csv")

In [ ]:
df1

              City           State  Population        lat         lon
0       Marysville      Washington       63269  48.051764 -122.177082
1           Perris      California       72326  33.782519 -117.228648
2        Cleveland            Ohio      390113  41.499320  -81.694361
3        Worcester   Massachusetts      182544  42.262593  -71.802293
4         Columbia  South Carolina      133358  34.000710  -81.034814
..             ...             ...         ...        ...         ...
995  West New York      New Jersey       52122  40.787879  -74.014306
996        Everett   Massachusetts       42935  42.408430  -71.053663
997         Linden      New Jersey       41301  40.622048  -74.244590
998      Asheville  North Carolina       87236  35.595058  -82.551487
999        Compton      California       97877  33.895849 -118.220071

[1000 rows x 5 columns]

In [ ]:
# groupby(): divide the big table (dataframe) into small ones
df1["State"].value_counts()

State
California              212
Texas                    83
Florida                  73
Illinois                 52
Massachusetts            36
Ohio                     33
Michigan                 31
Washington               28
Arizona                  25
Minnesota                24
North Carolina           22
New Jersey               22
Colorado                 21
Indiana                  21
Wisconsin                20
Utah                     19
Georgia                  18
New York                 17
Virginia                 17
Tennessee                17
Missouri                 16
Connecticut              15
Oregon                   14
Pennsylvania             13
Iowa                     13
South Carolina           12
Alabama                  12
Oklahoma                 11
Kansas                   11
Arkansas                 10
Louisiana                 9
Idaho                     8
New Mexico                7
Maryland                  7
Mississippi               6
Rhode Island              6
Nevada                    6
Kentucky                  5
North Dakota              4
Nebraska                  4
Montana                   4
New Hampshire             3
Wyoming                   2
Delaware                  2
West Virginia             2
South Dakota              2
Maine                     1
Alaska                    1
District of Columbia      1
Hawaii                    1
Vermont                   1
Name: count, dtype: int64

In [ ]:
r=df1.groupby(by=["State"])

In [ ]:
r.groups.keys()

dict_keys(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'])

In [ ]:
df2=r.get_group("Utah")

/tmp/ipython-input-1624792969.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  df2=r.get_group("Utah")

In [ ]:
df2

                 City State  Population        lat         lon
31              Logan  Utah       48913  41.736980 -111.833836
193      South Jordan  Utah       59366  40.562170 -111.929658
285         Bountiful  Utah       43023  40.889390 -111.880771
381             Provo  Utah      116288  40.233844 -111.658534
434      Spanish Fork  Utah       36956  40.114955 -111.654923
440      Taylorsville  Utah       60519  40.667725 -111.938826
466          Riverton  Utah       40921  40.521893 -111.939102
500              Lehi  Utah       54382  40.391617 -111.850766
533             Ogden  Utah       84249  41.223000 -111.973830
568            Layton  Utah       70790  41.060222 -111.971053
603            Murray  Utah       48612  40.666892 -111.887991
630             Sandy  Utah       90231  40.564978 -111.838973
673  West Valley City  Utah      133579  40.691613 -112.001050
676              Orem  Utah       91648  40.296898 -111.694648
737               Roy  Utah       37733  41.161611 -112.026331
762            Draper  Utah       45285  40.524671 -111.863823
856        St. George  Utah       76817  37.096528 -113.568416
955       West Jordan  Utah      110077  40.609670 -111.939103
964    Salt Lake City  Utah      191180  40.760779 -111.891047

In [ ]:
df2.to_csv("utah.csv",index=True)

In [ ]:
%ls

L20_LCP.ipynb  us-cities-top-1k.csv  utah.csv

In [ ]:
%pwd

'/content/drive/MyDrive/Colab Notebooks/ANLY2500_02_Fall2025/LC/L20'

In [ ]:
%ls

L20_02.ipynb  us-cities-top-1k.csv  utah.csv

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("us-cities-top-1k.csv")# RAM

In [ ]:
df1

              City           State  Population        lat         lon
0       Marysville      Washington       63269  48.051764 -122.177082
1           Perris      California       72326  33.782519 -117.228648
2        Cleveland            Ohio      390113  41.499320  -81.694361
3        Worcester   Massachusetts      182544  42.262593  -71.802293
4         Columbia  South Carolina      133358  34.000710  -81.034814
..             ...             ...         ...        ...         ...
995  West New York      New Jersey       52122  40.787879  -74.014306
996        Everett   Massachusetts       42935  42.408430  -71.053663
997         Linden      New Jersey       41301  40.622048  -74.244590
998      Asheville  North Carolina       87236  35.595058  -82.551487
999        Compton      California       97877  33.895849 -118.220071

[1000 rows x 5 columns]

In [ ]:
df1.columns

Index(['City', 'State', 'Population', 'lat', 'lon'], dtype='object')

In [ ]:
# groupby() and for loop
# groupby() will work on table
# divide a table into small ones (tables)

In [ ]:
r=df1.groupby(by=["State"])# RAM

In [ ]:
r.get_group("Texas")

/tmp/ipython-input-1164812433.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  r.get_group("Texas")

                     City  State  Population        lat         lon
20                Lubbock  Texas      239538  33.577863 -101.855166
28                Rowlett  Texas       58043  32.902902  -96.563880
38   North Richland Hills  Texas       67317  32.834295  -97.228903
59                 Dallas  Texas     1257676  32.776664  -96.796988
114             Texarkana  Texas       37442  33.425125  -94.047688
..                    ...    ...         ...        ...         ...
921             Arlington  Texas      379577  32.735687  -97.108066
922            Lewisville  Texas      101074  33.046233  -96.994174
963           League City  Texas       90983  29.507454  -95.094930
968            Cedar Hill  Texas       46663  32.588469  -96.956115
976        Corpus Christi  Texas      316381  27.800583  -97.396381

[83 rows x 5 columns]

In [ ]:
df1['State'].unique() # RAM

array(['Washington', 'California', 'Ohio', 'Massachusetts',
       'South Carolina', 'Connecticut', 'Minnesota', 'Michigan',
       'Louisiana', 'Idaho', 'Indiana', 'Georgia', 'Colorado', 'Florida',
       'Illinois', 'Virginia', 'Texas', 'Kansas', 'Mississippi',
       'North Carolina', 'Missouri', 'New Mexico', 'Alabama', 'Utah',
       'Pennsylvania', 'New York', 'Wisconsin', 'Arkansas',
       'Rhode Island', 'Iowa', 'Nevada', 'Tennessee', 'Wyoming',
       'Maryland', 'North Dakota', 'Oregon', 'Arizona', 'Maine',
       'Nebraska', 'New Jersey', 'Montana', 'Oklahoma', 'West Virginia',
       'South Dakota', 'District of Columbia', 'New Hampshire', 'Alaska',
       'Delaware', 'Kentucky', 'Hawaii', 'Vermont'], dtype=object)

In [ ]:
r.groups.keys()

dict_keys(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'])

In [ ]:
len(df1['State'].unique())

51

In [ ]:
len(r)

51

In [ ]:
r=df1.groupby(by=["State"])# 51 in r
states=["Nevada",'Utah',"Texas"]
n=len(states)# RAM
print(f"There are {n} states.")

for i in states:# i="Nevada" i="Utah" i="Texas"
  print("\n\nOne iteration")
  print(f"The current state is: {i}")
  sdf=r.get_group(i)# table RAM
  sdf=sdf.sort_values(by=["Population"],ascending=[False])
  #
  sdf.to_csv(f"d1/{i}.csv",index=False)
  print(sdf.head(3))

There are 3 states.


One iteration
The current state is: Nevada
          City   State  Population        lat         lon
712  Las Vegas  Nevada      603488  36.169941 -115.139830
46   Henderson  Nevada      270811  36.039525 -114.981721
110       Reno  Nevada      233294  39.529633 -119.813803


One iteration
The current state is: Utah
                 City State  Population        lat         lon
964    Salt Lake City  Utah      191180  40.760779 -111.891047
673  West Valley City  Utah      133579  40.691613 -112.001050
381             Provo  Utah      116288  40.233844 -111.658534


One iteration
The current state is: Texas
            City  State  Population        lat        lon
646      Houston  Texas     2195914  29.760427 -95.369803
153  San Antonio  Texas     1409019  29.424122 -98.493628
59        Dallas  Texas     1257676  32.776664 -96.796988

/tmp/ipython-input-2493636324.py:9: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-2493636324.py:9: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-2493636324.py:9: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM

In [ ]:
r=df1.groupby(by=["State"])# 51 in r
#states=["Nevada",'Utah',"Texas"]
states=r.groups.keys()
n=len(states)# RAM
print(f"There are {n} states.")

for i in states:# i="Nevada" i="Utah" i="Texas"
  print("\n\nOne iteration")
  print(f"The current state is: {i}")
  sdf=r.get_group(i)# table RAM
  sdf=sdf.sort_values(by=["Population"],ascending=[False])
  #
  sdf.to_csv(f"d1/{i}.csv",index=False)
  print(sdf.head(3))

There are 51 states.


One iteration
The current state is: Alabama
           City    State  Population        lat        lon
248  Birmingham  Alabama      212113  33.520661 -86.802490
30   Montgomery  Alabama      201332  32.366805 -86.299969
388      Mobile  Alabama      194899  30.695366 -88.039891


One iteration
The current state is: Alaska
          City   State  Population        lat         lon
370  Anchorage  Alaska      300950  61.218056 -149.900278


One iteration
The current state is: Arizona
        City    State  Population        lat         lon
966  Phoenix  Arizona     1513367  33.448377 -112.074037
167   Tucson  Arizona      526116  32.221743 -110.926479
202     Mesa  Arizona      457587  33.415184 -111.831472


One iteration
The current state is: Arkansas
             City     State  Population        lat        lon
680   Little Rock  Arkansas      197357  34.746481 -92.289595
41     Fort Smith  Arkansas       87650  35.385924 -94.398548
882  Fayetteville  Arkansas       78960  36.062579 -94.157426


One iteration
The current state is: California
            City       State  Population        lat         lon
953  Los Angeles  California     3884307  34.052234 -118.243685
333    San Diego  California     1355896  32.715738 -117.161084
805     San Jose  California      998537  37.338208 -121.886329


One iteration
The current state is: Colorado
                 City     State  Population        lat         lon
102            Denver  Colorado      649495  39.739236 -104.990251
554  Colorado Springs  Colorado      439886  38.833882 -104.821363
542            Aurora  Colorado      345803  39.729432 -104.831919


One iteration
The current state is: Connecticut
           City        State  Population        lat        lon
911  Bridgeport  Connecticut      147216  41.186548 -73.195177
598   New Haven  Connecticut      130660  41.308274 -72.927883
48     Stamford  Connecticut      126456  41.053430 -73.538734


One iteration
The current state is: Delaware
           City     State  Population        lat        lon
439  Wilmington  Delaware       71525  39.739072 -75.539788
525       Dover  Delaware       37366  39.158168 -75.524368


One iteration
The current state is: District of Columbia
           City                 State  Population        lat        lon
323  Washington  District of Columbia      646449  38.907192 -77.036871


One iteration
The current state is: Florida
             City    State  Population        lat        lon
170  Jacksonville  Florida      842583  30.332184 -81.655651
752         Miami  Florida      417650  25.761680 -80.191790
549         Tampa  Florida      352957  27.950575 -82.457178


One iteration
The current state is: Georgia
                        City    State  Population        lat        lon
382                  Atlanta  Georgia      447841  33.748995 -84.387982
35                  Columbus  Georgia      202824  32.460976 -84.987709
449  Augusta-Richmond County  Georgia      197350  33.473498 -82.010515


One iteration
The current state is: Hawaii
         City   State  Population        lat         lon
785  Honolulu  Hawaii      347884  21.306944 -157.858333


One iteration
The current state is: Idaho
           City  State  Population        lat         lon
9    Boise City  Idaho      214237  43.618710 -116.214607
322       Nampa  Idaho       86518  43.540717 -116.563462
157    Meridian  Idaho       83596  43.612109 -116.391513


One iteration
The current state is: Illinois
         City     State  Population        lat        lon
594   Chicago  Illinois     2718782  41.878114 -87.629798
16     Aurora  Illinois      199963  41.760585 -88.320071
706  Rockford  Illinois      150251  42.271131 -89.093995


One iteration
The current state is: Indiana
             City    State  Population        lat        lon
399  Indianapolis  Indiana      843393  39.768403 -86.158068
219    Fort Wayne  Indiana      256496  41.079273 -85.139351
897    Evansville  Indiana      120310  37.971559 -87.571090


One iteration
The current state is: Iowa
             City State  Population        lat        lon
760    Des Moines  Iowa      207510  41.600545 -93.609106
715  Cedar Rapids  Iowa      128429  41.977880 -91.665623
983     Davenport  Iowa      102157  41.523644 -90.577637


One iteration
The current state is: Kansas

/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM

              City   State  Population        lat        lon
342        Wichita  Kansas      386552  37.688889 -97.336111
21   Overland Park  Kansas      181260  38.982228 -94.670792
263    Kansas City  Kansas      148483  39.114053 -94.627464


One iteration
The current state is: Kentucky
                  City     State  Population        lat        lon
728         Louisville  Kentucky      609893  38.252665 -85.758456
776  Lexington-Fayette  Kentucky      308428  38.040584 -84.503716
920      Bowling Green  Kentucky       61488  36.968522 -86.480804


One iteration
The current state is: Louisiana
            City      State  Population        lat        lon
90   New Orleans  Louisiana      378715  29.951066 -90.071532
944  Baton Rouge  Louisiana      229426  30.458283 -91.140320
532   Shreveport  Louisiana      200327  32.525152 -93.750179


One iteration
The current state is: Maine
         City  State  Population        lat        lon
115  Portland  Maine       66318  43.661471 -70.255326


One iteration
The current state is: Maryland
             City     State  Population        lat        lon
872     Baltimore  Maryland      622104  39.290385 -76.612189
72      Frederick  Maryland       66893  39.414269 -77.410541
70   Gaithersburg  Maryland       65690  39.143441 -77.201370


One iteration
The current state is: Massachusetts
            City          State  Population        lat        lon
130       Boston  Massachusetts      645966  42.360082 -71.058880
3      Worcester  Massachusetts      182544  42.262593 -71.802293
291  Springfield  Massachusetts      153703  42.101483 -72.589811


One iteration
The current state is: Michigan
             City     State  Population        lat        lon
244       Detroit  Michigan      688701  42.331427 -83.045754
556  Grand Rapids  Michigan      192294  42.963360 -85.668086
578        Warren  Michigan      134873  42.514457 -83.014653


One iteration
The current state is: Minnesota
            City      State  Population        lat        lon
185  Minneapolis  Minnesota      400070  44.977753 -93.265011
666     St. Paul  Minnesota      294873  44.953703 -93.089958
132    Rochester  Minnesota      110742  44.012122 -92.480199


One iteration
The current state is: Mississippi
          City        State  Population        lat        lon
22     Jackson  Mississippi      172638  32.298757 -90.184810
469   Gulfport  Mississippi       71012  30.367420 -89.092816
68   Southaven  Mississippi       50997  34.988982 -90.012591


One iteration
The current state is: Missouri
            City     State  Population        lat        lon
25   Kansas City  Missouri      467007  39.099727 -94.578567
189    St. Louis  Missouri      318416  38.627003 -90.199404
873  Springfield  Missouri      164122  37.208957 -93.292299


One iteration
The current state is: Montana
            City    State  Population        lat         lon
595     Billings  Montana      109059  45.783286 -108.500690
139     Missoula  Montana       69122  46.878718 -113.996586
672  Great Falls  Montana       59351  47.494184 -111.283345


One iteration
The current state is: Nebraska
         City     State  Population        lat        lon
329     Omaha  Nebraska      434353  41.252363 -95.997988
128   Lincoln  Nebraska      268738  40.825763 -96.685198
653  Bellevue  Nebraska       53663  41.154362 -95.914557


One iteration
The current state is: Nevada
          City   State  Population        lat         lon
712  Las Vegas  Nevada      603488  36.169941 -115.139830
46   Henderson  Nevada      270811  36.039525 -114.981721
110       Reno  Nevada      233294  39.529633 -119.813803


One iteration
The current state is: New Hampshire
           City          State  Population        lat        lon
829  Manchester  New Hampshire      110378  42.995640 -71.454789
359      Nashua  New Hampshire       87137  42.765366 -71.467566
973     Concord  New Hampshire       42419  43.208137 -71.537572


One iteration
The current state is: New Jersey
            City       State  Population        lat        lon
269       Newark  New Jersey      278427  40.735657 -74.172367
665  Jersey City  New Jersey      257342  40.728158 -74.077642
236     Paterson  New Jersey      145948  40.916765 -74.171811


One iteration
The current state is: New Mexico

/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM

            City       State  Population        lat         lon
191  Albuquerque  New Mexico      556495  35.085334 -106.605553
575   Las Cruces  New Mexico      101324  32.319940 -106.763654
252   Rio Rancho  New Mexico       91956  35.232754 -106.663044


One iteration
The current state is: New York
          City     State  Population        lat        lon
890   New York  New York     8405837  40.712784 -74.005941
36     Buffalo  New York      258959  42.886447 -78.878369
247  Rochester  New York      210358  43.161030 -77.610922


One iteration
The current state is: North Carolina
           City           State  Population        lat        lon
590   Charlotte  North Carolina      792862  35.227087 -80.843127
144     Raleigh  North Carolina      431746  35.779590 -78.638179
407  Greensboro  North Carolina      279639  36.072635 -79.791975


One iteration
The current state is: North Dakota
            City         State  Population        lat         lon
327        Fargo  North Dakota      113658  46.877186  -96.789803
446     Bismarck  North Dakota       67034  46.808327 -100.783739
85   Grand Forks  North Dakota       54932  47.925257  -97.032855


One iteration
The current state is: Ohio
           City State  Population        lat        lon
126    Columbus  Ohio      822553  39.961176 -82.998794
2     Cleveland  Ohio      390113  41.499320 -81.694361
296  Cincinnati  Ohio      297517  39.103118 -84.512020


One iteration
The current state is: Oklahoma
              City     State  Population        lat        lon
200  Oklahoma City  Oklahoma      610613  35.467560 -97.516428
162          Tulsa  Oklahoma      398121  36.153982 -95.992775
808         Norman  Oklahoma      118197  35.222567 -97.439478


One iteration
The current state is: Oregon
         City   State  Population        lat         lon
94   Portland  Oregon      609456  45.523062 -122.676482
237     Salem  Oregon      160614  44.942898 -123.035096
473    Eugene  Oregon      159190  44.052069 -123.086754


One iteration
The current state is: Pennsylvania
             City         State  Population        lat        lon
53   Philadelphia  Pennsylvania     1553165  39.952584 -75.165222
957    Pittsburgh  Pennsylvania      305841  40.440625 -79.995886
33      Allentown  Pennsylvania      118577  40.608430 -75.490183


One iteration
The current state is: Rhode Island
           City         State  Population        lat        lon
851  Providence  Rhode Island      177994  41.823989 -71.412834
750     Warwick  Rhode Island       81971  41.700101 -71.416167
403    Cranston  Rhode Island       80566  41.779823 -71.437280


One iteration
The current state is: South Carolina
                 City           State  Population        lat        lon
4            Columbia  South Carolina      133358  34.000710 -81.034814
624        Charleston  South Carolina      127999  32.776475 -79.931051
727  North Charleston  South Carolina      104054  32.854620 -79.974810


One iteration
The current state is: South Dakota
            City         State  Population        lat         lon
746  Sioux Falls  South Dakota      164676  43.544596  -96.731103
288   Rapid City  South Dakota       70812  44.080543 -103.231015


One iteration
The current state is: Tennessee
          City      State  Population        lat        lon
635    Memphis  Tennessee      653450  35.149534 -90.048980
338  Nashville  Tennessee      634464  36.162664 -86.781602
600  Knoxville  Tennessee      183270  35.960638 -83.920739


One iteration
The current state is: Texas
            City  State  Population        lat        lon
646      Houston  Texas     2195914  29.760427 -95.369803
153  San Antonio  Texas     1409019  29.424122 -98.493628
59        Dallas  Texas     1257676  32.776664 -96.796988


One iteration
The current state is: Utah
                 City State  Population        lat         lon
964    Salt Lake City  Utah      191180  40.760779 -111.891047
673  West Valley City  Utah      133579  40.691613 -112.001050
381             Provo  Utah      116288  40.233844 -111.658534


One iteration
The current state is: Vermont
           City    State  Population        lat        lon
887  Burlington  Vermont       42284  44.475882 -73.212072


One iteration
The current state is: Virginia
               City     State  Population        lat        lon
830  Virginia Beach  Virginia      448479  36.852926 -75.977985
508         Norfolk  Virginia      246139  36.850769 -76.285873
365      Chesapeake  Virginia      230571  36.768209 -76.287493


One iteration
The current state is: Washington
        City       State  Population        lat         lon
529  Seattle  Washington      652405  47.606209 -122.332071
51   Spokane  Washington      210721  47.658780 -117.426047
885   Tacoma  Washington      203446  47.252877 -122.444291


One iteration
The current state is: West Virginia

/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM

           City          State  Population       lat        lon
621  Charleston  West Virginia       50821  38.34982 -81.632623
279  Huntington  West Virginia       49177  38.41925 -82.445154


One iteration
The current state is: Wisconsin
          City      State  Population        lat        lon
765  Milwaukee  Wisconsin      599164  43.038902 -87.906474
917    Madison  Wisconsin      243344  43.073052 -89.401230
950  Green Bay  Wisconsin      104779  44.519159 -88.019826


One iteration
The current state is: Wyoming
         City    State  Population        lat         lon
64   Cheyenne  Wyoming       62448  41.139981 -104.820246
258    Casper  Wyoming       59628  42.866632 -106.313081

/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM
/tmp/ipython-input-3223896015.py:10: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  sdf=r.get_group(i)# table RAM